<!doctype html>
<html>
  <head>
    <title>||BestOp Consulting||</title>
    <!-- META -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <link rel="icon" href="img/bestop-icon.jpg">

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/app.css">
  </head>
  <body>
  <div id="react-main-mount"><%- reactOutput %></div>
  <script src="/main.js"></script>
  </body>
</html>
